In [1]:
import pandas as pd
import math
import matplotlib.pyplot as plt

In [2]:
def extract_chunk(df,idx,n_hist,n_pred,file,target,include_day, is_cat):
    valid = True
    chunk = None
    num_cities = df.shape[1]-1
    if (idx+n_hist+n_pred+1)*24 > df.shape[0]:
        valid = False
        return valid, chunk
    chunk = df.iloc[idx*24:(idx+n_hist)*24,:-1].T
    columns = []
    for i in range(n_hist-1,-1,-1):
        for j in range(12,12+24):
            columns.append(file+'_'+str(i)+'_'+str(j % 24))
    chunk.columns = columns
    if include_day:
        day = df.iloc[idx*24:(idx+n_hist)*24,-1].reset_index(drop=True)
        chunk.insert(0,'day_of_year',day[0].day_of_year)
    if file == target:
        for i in range(n_pred):
            next_mean;
            if is_cat:
                next_mean = df.iloc[(idx+n_hist+i)*24:(idx+n_hist+i+1)*24,:-1].T.mode(axis=1,skipna=False)
            else:
                next_mean = df.iloc[(idx+n_hist+i)*24:(idx+n_hist+i+1)*24,:-1].T.mean(axis=1,skipna=False)
            chunk.insert(0,'mean_'+target+'_'+str(i+1),next_mean)
    chunk.index = range(idx*num_cities,(idx+1)*num_cities)
    return valid, chunk

In [3]:
n_pred = 14
n_hist = 1
target = 'temperature'
file_list = ['temperature','pressure','humidity','wind_direction','wind_speed']
keep_list = [#'Vancouver', 'Portland', 'San Francisco', 'Seattle', 'Los Angeles',
#        'San Diego', 'Las Vegas', 'Phoenix', 'Albuquerque', 'Denver',
#        'San Antonio', 'Dallas', 'Houston', 'Kansas City', 'Minneapolis',
#        'Saint Louis', 'Chicago', 'Nashville', 'Indianapolis', 'Atlanta',
#        'Detroit', 'Jacksonville', 'Charlotte', 'Miami', 'Pittsburgh',
#        'Toronto', 'Philadelphia', 'New York', 'Montreal', 'Boston',
       'Beersheba', 'Tel Aviv District', 'Eilat', 'Haifa', 'Nahariyya',
       'Jerusalem', 'datetime']
master_df = pd.DataFrame()
for file in file_list:
    if file == target:
        include_day = True
    else:
        include_day = False
    df = pd.read_csv(file+'.csv')
    df = df.loc[:,keep_list]

    # changed = (df.iloc[:,1:].astype('float16') != df.iloc[:,1:]).sum().sum() - df.isna().sum().sum()
    temp = pd.to_datetime(df.datetime)
    # df = df.iloc[:,1:].astype('float16')
    # df['datetime'] = temp
    # print('Converting',file+'.csv to 16-bit fp\n\tNumber of changed values =',changed)
    ######################################
    df = df.drop('datetime',axis=1)
    df['datetime'] = temp

    gaps = 0
    for i in range(1,df.shape[0]):
        if (df.datetime[i].hour-df.datetime[i-1].hour) % 24 != 1:
            gaps = gaps + 1
    print('Checking',file+'.csv for missing values\n\t'+str(df.isna().sum().sum()),'NaNs\n\t'+str(gaps),'hour gaps')

    print('Checking',file+'.csv size\n\t'+str(df.shape[0]),'rows x',df.shape[1],'columns')
    
    valid = True
    big_chunk = pd.DataFrame()
    idx = 0;
    while valid:
        valid, chunk = extract_chunk(df,idx,n_hist,n_pred,file,target,include_day)
        if big_chunk.shape[0] == 0:
            big_chunk = chunk
        elif valid:
            big_chunk = pd.concat([big_chunk,chunk])
        idx = idx + 1
    if master_df.shape[0] == 0:
            master_df = big_chunk
    else:
        master_df = master_df.join(big_chunk)

Checking temperature.csv for missing values
	4771 NaNs
	0 hour gaps
Checking temperature.csv size
	45253 rows x 7 columns
Checking pressure.csv for missing values
	4920 NaNs
	0 hour gaps
Checking pressure.csv size
	45253 rows x 7 columns
Checking humidity.csv for missing values
	5483 NaNs
	0 hour gaps
Checking humidity.csv size
	45253 rows x 7 columns
Checking wind_direction.csv for missing values
	4762 NaNs
	0 hour gaps
Checking wind_direction.csv size
	45253 rows x 7 columns
Checking wind_speed.csv for missing values
	4762 NaNs
	0 hour gaps
Checking wind_speed.csv size
	45253 rows x 7 columns

In [4]:
master_df.shape

(11220, 135)

In [5]:
master_df.dropna().shape

(10746, 135)

In [6]:
master_df = master_df.dropna()

In [7]:
master_df.to_hdf('big_data.h5','master_df',mode='w',format='table',complevel=9)

In [8]:
master_df.head()

,mean_temperature_14,mean_temperature_13,mean_temperature_12,mean_temperature_11,mean_temperature_10,mean_temperature_9,mean_temperature_8,mean_temperature_7,mean_temperature_6,mean_temperature_5,...,wind_speed_0_2,wind_speed_0_3,wind_speed_0_4,wind_speed_0_5,wind_speed_0_6,wind_speed_0_7,wind_speed_0_8,wind_speed_0_9,wind_speed_0_10,wind_speed_0_11
2,301.820000,301.871458,301.850625,300.702292,299.662292,299.835625,298.917917,299.906042,301.140417,299.718333,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
6,299.885833,299.978333,298.984167,299.562500,300.921250,300.137500,299.828750,299.030000,298.639167,297.822917,...,0.0,0.0,0.0,0.0,1.0,3.0,2.0,0.0,0.0,1.0
7,299.733542,298.048542,298.555208,297.823958,298.996667,298.486042,297.319375,298.311250,298.098125,298.106667,...,2.0,2.0,2.0,2.0,1.0,1.0,3.0,2.0,2.0,6.0
8,302.018958,301.820000,301.871458,301.850625,300.702292,299.662292,299.835625,298.917917,299.906042,301.140417,...,5.0,3.0,3.0,7.0,7.0,7.0,6.0,5.0,8.0,6.0
9,300.032500,298.790000,299.420000,298.792500,298.235417,298.437083,297.966667,298.190000,297.607500,298.117500,...,6.0,6.0,6.0,6.0,3.0,3.0,3.0,3.0,3.0,3.0

In [9]:
for i in range(master_df.shape[1]):
    print(master_df.columns[i],master_df.iloc[0,i])

mean_temperature_14 301.82
mean_temperature_13 301.87145833333335
mean_temperature_12 301.850625
mean_temperature_11 300.70229166666667
mean_temperature_10 299.6622916666667
mean_temperature_9 299.835625
mean_temperature_8 298.91791666666666
mean_temperature_7 299.9060416666666
mean_temperature_6 301.1404166666667
mean_temperature_5 299.7183333333333
mean_temperature_4 299.908125
mean_temperature_3 300.6347916666667
mean_temperature_2 302.85645833333336
mean_temperature_1 302.7954326922916
day_of_year 275
temperature_0_12 309.1
temperature_0_13 310.58
temperature_0_14 310.495769231
temperature_0_15 310.411538462
temperature_0_16 310.327307692
temperature_0_17 310.243076923
temperature_0_18 310.158846154
temperature_0_19 310.074615385
temperature_0_20 309.990384615
temperature_0_21 309.906153846
temperature_0_22 309.821923077
temperature_0_23 309.737692308
temperature_0_0 309.653461538
temperature_0_1 309.569230769
temperature_0_2 309.485
temperature_0_3 309.400769231
temperature_0_4 309.316538462
temperature_0_5 309.232307692
temperature_0_6 309.148076923
temperature_0_7 309.063846154
temperature_0_8 308.979615385
temperature_0_9 308.895384615
temperature_0_10 308.811153846
temperature_0_11 308.726923077
pressure_0_12 1011.0
pressure_0_13 1010.0
pressure_0_14 1010.0
pressure_0_15 1010.0
pressure_0_16 1010.0
pressure_0_17 1010.0
pressure_0_18 1010.0
pressure_0_19 1010.0
pressure_0_20 1010.0
pressure_0_21 1010.0
pressure_0_22 1010.0
pressure_0_23 1010.0
pressure_0_0 1010.0
pressure_0_1 1010.0
pressure_0_2 1010.0
pressure_0_3 1010.0
pressure_0_4 1010.0
pressure_0_5 1010.0
pressure_0_6 1010.0
pressure_0_7 1010.0
pressure_0_8 1010.0
pressure_0_9 1010.0
pressure_0_10 1010.0
pressure_0_11 1010.0
humidity_0_12 25.0
humidity_0_13 22.0
humidity_0_14 22.0
humidity_0_15 22.0
humidity_0_16 22.0
humidity_0_17 23.0
humidity_0_18 23.0
humidity_0_19 23.0
humidity_0_20 24.0
humidity_0_21 24.0
humidity_0_22 24.0
humidity_0_23 25.0
humidity_0_0 25.0
humidity_0_1 25.0
humidity_0_2 26.0
humidity_0_3 26.0
humidity_0_4 26.0
humidity_0_5 26.0
humidity_0_6 27.0
humidity_0_7 27.0
humidity_0_8 27.0
humidity_0_9 28.0
humidity_0_10 28.0
humidity_0_11 28.0
wind_direction_0_12 360.0
wind_direction_0_13 30.0
wind_direction_0_14 30.0
wind_direction_0_15 30.0
wind_direction_0_16 30.0
wind_direction_0_17 30.0
wind_direction_0_18 30.0
wind_direction_0_19 30.0
wind_direction_0_20 30.0
wind_direction_0_21 30.0
wind_direction_0_22 30.0
wind_direction_0_23 30.0
wind_direction_0_0 30.0
wind_direction_0_1 30.0
wind_direction_0_2 30.0
wind_direction_0_3 30.0
wind_direction_0_4 30.0
wind_direction_0_5 30.0
wind_direction_0_6 30.0
wind_direction_0_7 30.0
wind_direction_0_8 30.0
wind_direction_0_9 30.0
wind_direction_0_10 30.0
wind_direction_0_11 30.0
wind_speed_0_12 8.0
wind_speed_0_13 8.0
wind_speed_0_14 8.0
wind_speed_0_15 8.0
wind_speed_0_16 8.0
wind_speed_0_17 8.0
wind_speed_0_18 8.0
wind_speed_0_19 8.0
wind_speed_0_20 8.0
wind_speed_0_21 8.0
wind_speed_0_22 8.0
wind_speed_0_23 8.0
wind_speed_0_0 8.0
wind_speed_0_1 8.0
wind_speed_0_2 9.0
wind_speed_0_3 9.0
wind_speed_0_4 9.0
wind_speed_0_5 9.0
wind_speed_0_6 9.0
wind_speed_0_7 9.0
wind_speed_0_8 9.0
wind_speed_0_9 9.0
wind_speed_0_10 9.0
wind_speed_0_11 9.0

In [10]:
df.columns

Index(['Beersheba', 'Tel Aviv District', 'Eilat', 'Haifa', 'Nahariyya',
       'Jerusalem', 'datetime'],
      dtype='object')