In [1]:
import pandas as pd
import numpy as np

# Instructions:
## There are no inputs to be changed, so just run the entire notebook. The data will be output as events.csv in the same folder as this notebook.
# Do not change any code below this cell!

In [2]:
df = pd.read_csv('weather_description.csv')
df_copy = df.copy()
df.head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,haze,NaN,NaN,NaN
1,2012-10-01 13:00:00,mist,scattered clouds,light rain,sky is clear,mist,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,overcast clouds,sky is clear,sky is clear,sky is clear,haze,sky is clear,sky is clear,sky is clear
2,2012-10-01 14:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,sky is clear,sky is clear,broken clouds,overcast clouds,sky is clear,overcast clouds
3,2012-10-01 15:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds
4,2012-10-01 16:00:00,broken clouds,scattered clouds,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,sky is clear,...,broken clouds,few clouds,sky is clear,few clouds,overcast clouds,sky is clear,broken clouds,overcast clouds,overcast clouds,overcast clouds

In [3]:
for col in df.columns:
    df[col][df[col].str.contains('clear').fillna(False)] = 'clear'
    df[col][df[col].str.contains('clouds').fillna(False)] = 'cloudy'
    df[col][df[col].str.contains('fog').fillna(False)] = 'fog'
    df[col][df[col].str.contains('mist').fillna(False)] = 'fog'
    df[col][df[col].str.contains('haze').fillna(False)] = 'fog'
    df[col][df[col].str.contains('snow').fillna(False)] = 'snow'
    df[col][df[col].str.contains('sleet').fillna(False)] = 'snow'
    df[col][df[col].str.contains('thunder').fillna(False)] = None
    df[col][df[col].str.contains('rain').fillna(False)] = 'rain'
    df[col][df[col].str.contains('drizzle').fillna(False)] = 'rain'
    df[col][df[col].str.contains('smoke').fillna(False)] = None
    df[col][df[col].str.contains('dust').fillna(False)] = None
    df[col][df[col].str.contains('ash').fillna(False)] = None

In [4]:
valid = True
i = 0
while valid:
    df.iloc[24*i:24*(i+1),1:] = df.iloc[24*i:24*(i+1),1:].mode().iloc[0,:]
    i = i + 1
    if 24*(i+1) > df.shape[0]:
        valid = False

In [5]:
df.to_csv('events.csv')